.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
pointer-events: none;
visibility: hidden;

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: opacity, visibility;
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility:visible ;
    transition-delay: 0ms;
}

.modal {
opacity: 0;

position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-70%);
max-width: 288px;
width: 100%;
border-radius: 4px;
padding: 72px 16px 24px;
background-color: #FCFCFC;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition-property: opacity, transform;
}

@media only screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        padding: 72px 24px 24px;
    }
}

.backdrop.is-open .modal {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition-delay: 300ms;
}



.backdrop-header {
    margin-bottom: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2E2F42;
}


.modal-form-field {
margin-bottom: 8px;
}

.modal-form-label {
display: block;
margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-input {
border: 1px solid rgba(46, 47, 66, 0.4);
outline: transparent;
background-color: transparent;
    border-radius: 4px;
    padding: 8px 38px;
    width: 100%;
    height: 40px;
    font-size: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon{
    fill: #4D5AE5;
}

.comment-field {
    margin-bottom: 16px;
}

.modal-form-comment {
        border: 1px solid rgba(46, 47, 66, 0.4);
        outline: transparent;
        background-color: transparent;
        border-radius: 4px;
        padding: 8px 16px;
        width: 100%;
        height: 120px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        resize: none;
        color: #2E2F42;
}

.modal-form-comment::placeholder {
        color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:focus {
    border-color: #4D5AE5;
}

.modal-form-agreement {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.modal-form-agreement-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-form-agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4D5AE5;
}

.modal-form-agreement-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color;
}

.checkbox:checked+.modal-form-agreement-wrapper>.modal-form-agreement-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
    color: #F4F4FD;
}

.modal-form-agreement-icon {
    display: block;
    fill: currentColor;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.modal-form-agreement-wrapper>.modal-form-agreement-checkbox>.modal-form-agreement-icon {
    opacity: 1;
}

.modal-form-button {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4D5AE5;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        font-weight: 500;
        line-height: 1.50;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
    background-color: #404BBF;
}

